.content__places {
    margin: 92px auto;
  }
@media (min-width : 768px) and (max-width : 1023px) {
    .content__places {
        margin: 88px auto;
      }
    }
@media (max-width : 767px) {
    .content__places {
        margin: 64px auto;
      }
    }
@media (min-width : 1024px) and (max-width : 1279px) {
    .content__places {
        padding-left: 48px;
        padding-right: 48px;
      }
    }