.content__photo-grid {
    margin: auto;
    margin-top: 92px;
}
@media (min-width : 768px) and (max-width : 1023px) {
    .content__photo-grid {
      margin-left: 24px;
      margin-right: 24px;
    }
  }
@media (max-width : 767px) {
    .content__photo-grid {
      margin-top: 64px;
    }         
}