.place__paragraph {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    margin: auto;
  }
  .place__paragraph:nth-child(1) {
    margin-bottom: 24px;
  }
@media (min-width : 768px) and (max-width : 1023px) {
 .place__paragraph {
      font-size: 16px;
    }
  }
@media (max-width : 767px) {
  .place__paragraph {
     font-size: 16px;
     max-width: 288px;
    }
  }