.content__intro {
    margin: auto;
    margin-top: 114px;
}
@media (min-width : 768px) and (max-width : 1023px) {
    .content__intro {
       margin-top: 110px;
        }
   }
@media (max-width : 767px) {
    .content__intro {
        margin-top: 86px;
        }
    }
@media (min-width : 1024px) and (max-width : 1279px) {
    .content__intro {
        max-width: 928px;
        }
    }