.places__place {
    margin-bottom: 80px;
  }
.places__place:last-child {
    margin-bottom: 0;
  }
@media (min-width : 768px) and (max-width : 1023px) {
    .places__place {
      margin-bottom: 72px;
    }
}
@media (max-width : 767px) {
    .places__place {
        margin: auto;
        margin-bottom: 48px;
      }
    }