.page__footer {
    margin: auto;
    margin-top: 92px; 
    padding-bottom: 24px;
    }
 @media (min-width : 768px) and (max-width : 1023px) {
   .page__footer {
     margin-top: 88px; 
     }
 }
 @media (max-width : 767px) {
     .page__footer {
     margin-top: 64px; 
     }
 }